src/bin/
src/obj/
src/app.zip
*.user
.vs/

tests/HostTests/bin/
tests/HostTests/obj/

dist/

steam-support/
node-support/
extension-base/

src-node/bin/
src-node/obj/

src-steam/obj/
src-steam/bin/

tests/steam-auto/steam-auto.zip
